In [97]:
import pandas as pd 
data = pd.read_csv('dataset.csv')
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [98]:
data.drop(columns=['Id'], inplace=True)
data

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [99]:
object_columns = data.select_dtypes(include=['object'])

for col in object_columns:
    if data[col].isnull().sum() > 0:
        print(col, data[col].isnull().sum())

Alley 1369
MasVnrType 872
BsmtQual 37
BsmtCond 37
BsmtExposure 38
BsmtFinType1 37
BsmtFinType2 38
Electrical 1
FireplaceQu 690
GarageType 81
GarageFinish 81
GarageQual 81
GarageCond 81
PoolQC 1453
Fence 1179
MiscFeature 1406

In [100]:
object_columns = data.select_dtypes(include=['object'])

for col in object_columns:
    if data[col].isnull().sum() < data.shape[1]:
        data[col] = data[col].fillna(data[col].mode()[0])
        
    elif data[col].isnull().sum() > data.shape[1]:
        data.drop(columns=[col], inplace=True)
        
data.shape

(1460, 70)

In [101]:
object_cols = data.select_dtypes(include=['object'])
object_cols.nunique()

MSZoning          5
Street            2
LotShape          4
LandContour       4
Utilities         2
LotConfig         5
LandSlope         3
Neighborhood     25
Condition1        9
Condition2        8
BldgType          5
HouseStyle        8
RoofStyle         6
RoofMatl          8
Exterior1st      15
Exterior2nd      16
ExterQual         4
ExterCond         5
Foundation        6
BsmtQual          4
BsmtCond          4
BsmtExposure      4
BsmtFinType1      6
BsmtFinType2      6
Heating           6
HeatingQC         5
CentralAir        2
Electrical        5
KitchenQual       4
Functional        7
PavedDrive        3
SaleType          9
SaleCondition     6
dtype: int64

In [102]:
for col in object_cols:
    if data[col].nunique() > 3:
        mean_prices = data.groupby(col)['SalePrice'].mean()
        overall_median = mean_prices.median()
        data['Categorized '+ col] =  data[col].map(lambda brand: 1 if mean_prices[brand] > overall_median else 0)
        data.drop(columns=[col], inplace=True)
    
    elif data[col].nunique() == 2:
        from sklearn.preprocessing import LabelEncoder
            
        le = LabelEncoder()
        data[col] = le.fit_transform(data[col])
    
    elif data[col].nunique() == 3:
        from sklearn.preprocessing import OneHotEncoder
        ohe = OneHotEncoder(drop='first')
        input_data = data[col].values.reshape(-1, 1)  
        encoded_cols = ohe.fit_transform(input_data)
        col_names = [f"{data.columns[0]}_{category}" for category in ohe.categories_[0] if category != ohe.categories_[0][0]]
        encoded_df = pd.DataFrame(encoded_cols.toarray(), columns=col_names)
        data = data.drop(col, axis=1)
        data = pd.concat([data, encoded_df], axis=1)
            
data

,MSSubClass,LotFrontage,LotArea,Street,Utilities,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,...,Categorized BsmtFinType2,Categorized Heating,Categorized HeatingQC,Categorized Electrical,Categorized KitchenQual,Categorized Functional,MSSubClass_P,MSSubClass_Y,Categorized SaleType,Categorized SaleCondition
0,60,65.0,8450,1,0,7,5,2003,2003,196.0,...,1,1,1,1,1,1,0.0,1.0,0,1
1,20,80.0,9600,1,0,6,8,1976,1976,0.0,...,1,1,1,1,0,1,0.0,1.0,0,1
2,60,68.0,11250,1,0,7,5,2001,2002,162.0,...,1,1,1,1,1,1,0.0,1.0,0,1
3,70,60.0,9550,1,0,7,5,1915,1970,0.0,...,1,1,1,1,1,1,0.0,1.0,0,0
4,60,84.0,14260,1,0,8,5,2000,2000,350.0,...,1,1,1,1,1,1,0.0,1.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,1,0,6,5,1999,2000,0.0,...,1,1,1,1,0,1,0.0,1.0,0,1
1456,20,85.0,13175,1,0,6,6,1978,1988,119.0,...,0,1,0,1,0,0,0.0,1.0,0,1
1457,70,66.0,9042,1,0,7,9,1941,2006,0.0,...,1,1,1,1,1,1,0.0,1.0,0,1
1458,20,68.0,9717,1,0,5,6,1950,1996,0.0,...,0,1,1,1,1,1,0.0,1.0,0,1
1459,20,75.0,9937,1,0,5,6,1965,1965,0.0,...,0,1,1,1,0,1,0.0,1.0,0,1

In [103]:
corrs = data.corr()['SalePrice'].drop('SalePrice')
vals = corrs[abs(corrs) < 0.5].index.tolist()
    
for v in vals:
    data.drop(columns=[v], inplace=True)
    print(v)
    lenght = len(vals)
    print(lenght , "feature was deleted")

MSSubClass
57 feature was deleted
LotFrontage
57 feature was deleted
LotArea
57 feature was deleted
Street
57 feature was deleted
Utilities
57 feature was deleted
OverallCond
57 feature was deleted
MasVnrArea
57 feature was deleted
BsmtFinSF1
57 feature was deleted
BsmtFinSF2
57 feature was deleted
BsmtUnfSF
57 feature was deleted
CentralAir
57 feature was deleted
2ndFlrSF
57 feature was deleted
LowQualFinSF
57 feature was deleted
BsmtFullBath
57 feature was deleted
BsmtHalfBath
57 feature was deleted
HalfBath
57 feature was deleted
BedroomAbvGr
57 feature was deleted
KitchenAbvGr
57 feature was deleted
Fireplaces
57 feature was deleted
GarageYrBlt
57 feature was deleted
WoodDeckSF
57 feature was deleted
OpenPorchSF
57 feature was deleted
EnclosedPorch
57 feature was deleted
3SsnPorch
57 feature was deleted
ScreenPorch
57 feature was deleted
PoolArea
57 feature was deleted
MiscVal
57 feature was deleted
MoSold
57 feature was deleted
YrSold
57 feature was deleted
Categorized MSZoning
57 feature was deleted
Categorized LotShape
57 feature was deleted
Categorized LandContour
57 feature was deleted
Categorized LotConfig
57 feature was deleted
MSSubClass_Mod
57 feature was deleted
MSSubClass_Sev
57 feature was deleted
Categorized Condition1
57 feature was deleted
Categorized Condition2
57 feature was deleted
Categorized BldgType
57 feature was deleted
Categorized HouseStyle
57 feature was deleted
Categorized RoofStyle
57 feature was deleted
Categorized RoofMatl
57 feature was deleted
Categorized Exterior1st
57 feature was deleted
Categorized Exterior2nd
57 feature was deleted
Categorized ExterCond
57 feature was deleted
Categorized Foundation
57 feature was deleted
Categorized BsmtCond
57 feature was deleted
Categorized BsmtExposure
57 feature was deleted
Categorized BsmtFinType1
57 feature was deleted
Categorized BsmtFinType2
57 feature was deleted
Categorized Heating
57 feature was deleted
Categorized HeatingQC
57 feature was deleted
Categorized Electrical
57 feature was deleted
Categorized Functional
57 feature was deleted
MSSubClass_P
57 feature was deleted
MSSubClass_Y
57 feature was deleted
Categorized SaleType
57 feature was deleted
Categorized SaleCondition
57 feature was deleted

In [104]:
data

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice,Categorized Neighborhood,Categorized ExterQual,Categorized BsmtQual,Categorized KitchenQual
0,7,2003,2003,856,856,1710,2,8,2,548,208500,1,1,1,1
1,6,1976,1976,1262,1262,1262,2,6,2,460,181500,1,0,1,0
2,7,2001,2002,920,920,1786,2,6,2,608,223500,1,1,1,1
3,7,1915,1970,756,961,1717,1,7,3,642,140000,1,0,0,1
4,8,2000,2000,1145,1145,2198,2,9,3,836,250000,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,6,1999,2000,953,953,1647,2,7,2,460,175000,1,0,1,0
1456,6,1978,1988,1542,2073,2073,2,7,2,500,210000,1,0,1,0
1457,7,1941,2006,1152,1188,2340,2,9,1,252,266500,1,1,0,1
1458,5,1950,1996,1078,1078,1078,1,5,1,240,142125,0,0,0,1
1459,5,1965,1965,1256,1256,1256,1,6,1,276,147500,0,1,0,0

In [118]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

y = data.iloc[:, 10:11].values
y = pd.DataFrame(data=y, columns=['SalePrice'])

cp = data.copy()

cp.drop(columns=['SalePrice'], inplace=True)

x = pd.DataFrame(data=cp)


x_train, x_test, y_train, y_test = train_test_split(x,y)

lin = LinearRegression()
lin.fit(x_train, y_train)

from sklearn.metrics import r2_score

p1 = lin.predict(x_train)
p2 = lin.predict(x_test)

r1 = r2_score(y_train, p1)
r2 = r2_score(y_test, p2)

print(r1)
print(r2)

0.7768826674057243
0.7671561104898161